@import "grid.css";

body {
      margin: 0 auto;
}

a {
    text-decoration: none;
    color:darkslategray;
    opacity: 0.8;
}

a:hover {
    color:black;
    opacity: 1;
}


/*Header*/
.header {
    text-align:center;
    background:lightblue;
    border-top: solid 1px blue;
    border-bottom: solid 1px blue;
    
    min-width: 440px;
}

/*Navigation*/
.navic {
    margin: 0 auto;
    max-width:720px;
    min-width: 440px;
}

.nav {
    margin: 0 auto;
    
}

.nav_but {
    width: 118px;
    margin: 1px 1px;
    text-align: center;
}

.nav_but a {
    border: solid 1px black;
    border-radius: 3px;
    background:lightgrey;
    display: block;
}

.menu {
    margin: 0 auto;
}
.menu ul {
    text-align: center;
}

.menu li {
    display: inline-block;
}

.navi {
    width:600px;
    margin: 0 auto; 
    text-align:center;
    border-radius: 6px;
}

.navi td{
    border: solid 1px black;
    border-radius: 3px;
    background:lightgrey;
    width:100px;
}

/*Основной контент*/
.content {
    width: 600px;
    margin: 0 auto;
}

/*навигация в контенте*/
.content_navi {
    width:200px;
    height:400px;
    margin-top:auto;
    background:lightgrey;
    border-bottom:solid 3px darkgrey;
    border-right:solid 3px grey;
    border-radius: 6px;
}

.content_navi h4 {
    background: darkgrey;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    height:30px;
    padding-top:10px;
}

.content_navi ul {
    color: gray;
}

/*товары на главной*/
.content_item {
    height:400px;
}

.content_item td {
    width:200;
    background:#e0f0f0;
    border-radius: 6px;
    border:solid 2px lightgrey;
    border-bottom:solid 2px darkgrey;
    border-right:solid 2px grey;
}

.content_item a{
    display: block;
    text-align: center;
}

#footer {
    text-align: center;
    background: lightblue;
    border-top: solid 1px blue;
    border-bottom: solid 1px blue;
}

/*каталог*/
.catalog tr {
    font-size: 10pt;
}

.catalog p {
    width: 70px;
}

#reset {
    margin-left:450px;
}

/*карточка товара*/
.item p {
    width: 400px;
    margin: 0 auto;
}

.item img {
   display: block;
    margin: 0 auto;
}

.item input, #buy {
    display: block;
    margin: 0 auto;
    width:100px;
    font-weight:bold;
    color:darkslategrey;
    border: solid 2px grey;
}

.item input:hover, #buy:hover {
    color:black;
  
}

/*личный кабинет*/
.lk_form {
    margin: 0 auto;
}

#lk_info {
    text-align: center;
}

#info {
    resize: none;
}

/*контакты*/
.center {
    width: 50%;
    margin: 0 auto;
}

.left_block {
    float: left;
    width: 50%;
}

.left_block img {
    width: 20px;
}

.right_block img {
    width:50%;
    border:solid 2px grey;
}

.right_block {
    width:400px;
    height:300px;
}

.maps {
    width: 400px;
    margin: 0 auto;
}