@font-face { 
font-family: "ff-tisa-web-pro"; 
font-style: italic; 
font-weight: 400; 
src: url("https://use.typekit.com/af/a2dca8/000000000000000000017080/27/l?subset_id=2&fvd=i4&v=3") format("woff2"), 
url("https://use.typekit.com/af/a2dca8/000000000000000000017080/27/l?subset_id=2&fvd=i4&v=3") format("woff"), 
url("https://use.typekit.com/af/a2dca8/000000000000000000017080/27/l?subset_id=2&fvd=i4&v=3") format("opentype"); 
}

@font-face { 
font-family: "ff-tisa-web-pro"; 
font-style: normal; 
font-weight: 400; 
src: url("https://use.typekit.com/af/a1d110/000000000000000000017087/27/l?subset_id=2&fvd=n4&v=3") format("woff2"), 
url("https://use.typekit.com/af/a1d110/000000000000000000017087/27/l?subset_id=2&fvd=n4&v=3") format("woff"), 
url("https://use.typekit.com/af/a1d110/000000000000000000017087/27/l?subset_id=2&fvd=n4&v=3") format("opentype"); 
}

a {
    text-decoration-line: none;
}

body{
    color: #333;
}

h1,
h2 {
    font-family: "ff-tisa-web-pro";
    font-style: italic;
    font-weight: 100;
}

/* Тело - Вся страничка в контейнере */
.container {
    width: 896px;
    padding: 30px;
    margin: 0 auto;
}

/* Шапка - навигация и слайдер */
.header {
    position: relative;
    display:grid;
    grid-auto-rows: minmax(auto, auto);
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    width: 140px;
    height: 120px;
    background: url(../images/food_sense_logo.png);
    margin-top: 20px;
}

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
}

.main {
    width: 130px;
    grid-column: 1/2;
    grid-row: 2/8;
}

.main a {
    font-family: ff-tisa-web-pro, Georgia, sans-serif;
    font-style: italic;
    text-decoration: none;
    color:#34AC98;
}

.main a:hover {
    color:#EC6635;
}

.main a:active {
    color:#95d4c9;
}

.main li {
    margin-top: -12px;
    list-style-type: none;
}

.link1 {
    background: url(../images/tastemakers.png) no-repeat;
}

.link2 {
    background: url(../images/blog.png) no-repeat;
}

.link3 {
    background: url(../images/alist.png) no-repeat;
}

.link4 {
    background: url(../images/contribute.png) no-repeat;
}

.link5 {
    background: url(../images/about.png) no-repeat;
}

.main a div {
    height: 35px;
    position: relative;
    right: 45px;
    top: 35px;
}

.main a:hover div{
    right: 40px;
    transition: right 0.3s ease;
}

.tweet {
    position: relative;
    top: 50px;
}

.tweet h1 {
    text-transform: uppercase;
    font-style: normal;
    font-size: .75em;
    border-bottom: 1px dashed #E5E5E5;
}

.box p{
    margin-bottom: 20px;
    line-height: 1.75em;
    font-size: .6825em;
    font-style: italic;
}

.box a:hover {
    background-color: #EFF8F7;
}

.tweet-link {
    background: url(../images/twitter.png) center left no-repeat;
}

.face-link {
    background: url(../images/facebook.png) center left no-repeat;
}

.box a {
    display: block;
    height: 25px;
    width: 110px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    box-shadow: 1px 1px 2px #F5F5F5;
    transition: all .2s ease;
    padding-left: 20px;
    padding-top: 5px
}


/* Слайдер */
.slider {
    grid-row: 1/6;
    grid-column: 2;
}

.slider ul {
    position: relative;
    width: 711px;
    height: 446px;
    overflow: hidden;
}

.slider li {
    position: relative;
    width: 712px;
    height: 446px;
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;
    animation: sliders 16s infinite;
   
}

.slide1 {
    background-image: url(../images/slide1.jpg);
    visibility: hidden;
/*     animation: sliders 4s infinite;*/
/*    animation: slide1 2s forwards;*/
}

.slide2 {
    background-image: url(../images/slide2.jpg);
    visibility: hidden;
/*     animation: sliders 4s infinite 4s;*/
/*    animation: slide2 2s forwards 2s;*/
}

.slide3 {
    background-image: url(../images/slide3.jpg);
    visibility: hidden;
/*     animation: sliders 4s infinite 8s;*/
/*    animation: slide3 2s forwards 4s;*/
}

.slide4 {
    background-image: url(../images/slide4.jpg);
    visibility: hidden;
/*     animation: sliders 4s infinite 12s;*/
/*    animation: slide4 2s forwards 6s;*/
}


@keyframes sliders {
    0%{
        position: relative;
        top: 0%;
        visibility: visible;
    }
    24.9%{
        position: relative;
        top: 0%;
        visibility: hidden;
    }
    25%{
        position: relative;
        top: -100%;
        visibility: visible;
    }
    49.9%{
        position: relative;
        top: -100%;
        visibility: hidden;
    }
    50%{
        position: relative;
        top: -200%;
        visibility: visible;
        
    }
    74.9%{
        position: relative;
        top: -200%;
        visibility: hidden;
    }
    75%{
        position: relative;
        top: -300%;
        visibility: visible;
    }
    100% {
        position: relative;
        top: -300%;
        visibility: hidden;
    }
    
}

.link-right a:hover h1,
.link-right a:hover h2,
.link-left a:hover h1,
.link-left a:hover h2 {
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.link-right h1 {
    position: absolute;
    top: 280px;
    padding: 6px 24px 10px;
    color: #222;
    background: #FFF;
    font-size: 1.5em;
    left: auto;
    right: 0px;
}

.link-right h2 {
    position: absolute;
    top: 337px;
    padding: 8px 24px 12px;
    color: #E9E9E9;
    font-weight: normal;
    font-size: 1em;
    background: #111;
    left: auto;
    right: 0px;
}

.link-left h1 {
    position: absolute;
    top: 280px;
    padding: 6px 24px 10px;
    color: #222;
    background: #FFF;
    font-size: 1.5em;
}

.link-left h2 {
    position: absolute;
    top: 337px;
    padding: 8px 24px 12px;
    color: #E9E9E9;
    font-weight: normal;
    font-size: 1em;
    background: #111;
}

.autor {
    position: absolute;
    right: 14px;
    top: 428px;
    padding: 4px 10px 4px;
    font-size: .5em;
    color: #555;
    background: #F5F5F5;
    background: rgba(255,255,255,.5);
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.autor a {
    border-bottom: none;
    background: none;
    color: #555;
}

.autor a:hover {
    color: #EC6635;
}

.nav-slider {
    grid-column: 2/3;
    grid-row: 6;
}

.nav-slider {
    position: relative;
    bottom: 46px;
}

.nav-slider li {
    display: inline-block;
    text-align: center;
    
}

.nav-slider a h3 {
    width: 177px;
    margin-right: -3px;
    padding: 10px 0px 10px;
    font-size: .875em;
    font-weight: 100;
    background: #D9EFEC;
    text-shadow: 0 1px 0 #FFF;
    color:#34AC98;
}

.nav-slider a:hover h3 {
    color:#EC6635;
}

/*Контент страницы*/
.content {
    
}

/*Футер*/
.footer {
    
}